@*<script src="~/Areas/Inventory/Scripts/InvWarrentyPeriod/ViewInvWarrentyPeriod.js"></script>*@
<script src="~/Areas/Inventory/Scripts/WarrentyPeriod/ViewWarrentyPeriod.js"></script>

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Standard Data Tables </h2>

    </header>

    <div>

        <!-- widget edit box -->

        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="myTable" class="table table-bordered table-hover responsive-utilities ">
            <thead>
                <tr>
                    <th>SL.</th>                  
                    <th>WarrentyPeriod Name</th>
                    <th>Warrenty Days</th>
                    <th>Warrenty Details</th>



                    <th>Action</th>
                </tr>
            </thead>
        </table>

    </div>

</div>



