<script src="~/Areas/Inventory/Scripts/WarehousePO/ViewWarehousePO.js"></script>
<div class="jarviswidget jarviswidget-PurchaseProduct-darken" id="wid-id-0" data-widget-editbutton="false">






    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>View Warehouse PO Data Tables </h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="myTableViewWarehousePO" class="table table-bordered table-hover responsive-utilities ">
            <thead>
            <tr>
                <th>SL.</th>
                <th>Supplier Name</th>
                <th>Total Product</th>
                <th>Status</th>
                <th>View</th>
                <th>Process</th>
              </tr>
            </thead>
        </table>
    </div>
</div>





