<script src="~/Areas/Inventory/Scripts/OutletWarrentyRepair/ViewOutletWarrentyRepair.js"></script>

<div class="jarviswidget jarviswidget-OutletWarrentyRepair-darken" id="wid-id-0" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>View Outlet Sent Warrenty Request</h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        @*<div class="container-fluid">
            <input type="text" id="hdnOutletWarrentyRepairId" hidden="" value="0" />
            <input type="text" id="hdnOutletInvoiceDetailsId" hidden="" value="0" />
            <input type="text" id="hdnOutletSaleInvoiceNo" hidden="" value="0" />
            <input type="text" id="hdnOutletId" hidden="" value="0" />
            <input type="text" id="hdnRepairTokenNo" hidden="" value="0" />
        </div>*@

        <table id="myTable" class="table table-bordered table-hover responsive-utilities ">
            <thead>
                <tr>
                    <th>OutletWarrentyRepairId</th>
                    <th>OutletId</th>
                    <th>SL.</th>
                    <th>Token No.</th>
                    <th>Purchase Date</th>
                    <th>ReturnDate</th>
                    <th>Product Name</th>
                    @*<th>Warrenty Type</th>*@
                    <th>Problem</th>
                    <th>Repair Cost</th>
                    <th>Repair Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


