<script src="~/Areas/Inventory/Scripts/Student/CreateStudent.js"></script>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">APT ERP</h4>
            </div>
            <div id="modal-body">
                <h2 id="rif"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Create Student </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">

            <div class="smart-form">
              <fieldset>
                    <input type="text" id="hdnStudentId" hidden="" value="0"/>
                    <input type="text" id="hdnStudentAddressId" hidden="" value="0"/>
                    <input type="text" id="hdnHistoryId" hidden="" value="0" />
                    <section>
                        <label for="txtStudentName" class="label">Student Name</label>
                        <label class="input">
                            <input type="text" id="txtStudentName" name="txtStudentName" maxlength="50" placeholder="Student Name" required />
                        </label>
                    </section>

                    <section>
                        <label for="txtStudentPhone" class="label">Student Phone</label>
                        <label class="input">
                            <input type="text" id="txtStudentPhone" name="txtStudentPhone" maxlength="50" placeholder="Student Phone"/>
                        </label>
                    </section>
                    
                   
                    <section>
                        <label for="txtAddress" class="label">Address</label>
                        <label class="input">
                            <input type="text" id="txtAddress" name="txtAddress" maxlength="50" placeholder="Address"/>
                        </label>
                    </section>
                    <section>
                        <label for="txtCountry" class="label">Country</label>
                        <label class="input">
                            <input type="text" id="txtCountry" name="txtCountry" maxlength="50" placeholder="Country"/>
                        </label>
                    </section>
                    
                    
                    <section>
                        <label for="txtHistoryTitle" class="label">History Title</label>
                        <label class="input">
                            <input type="text" id="txtHistoryTitle" name="txtHistoryTitle" maxlength="50" placeholder="History Title"/>
                        </label>
                    </section>
                    
                    <section>
                        <label for="txtHistoryDetials" class="label">History Detials</label>
                        <label class="input">
                            <input type="text" id="txtHistoryDetials" name="txtHistoryDetials" maxlength="50" placeholder="History Detials" />
                        </label>
                    </section>

                   

                 
                    <section>
                        <label class="checkbox">
                            <input type="checkbox" name="chkIsActive" id="chkIsActive">
                            <i></i>IsActive

                        </label>

                    </section>
                </fieldset>



                <footer>
                    <button class="btn btn-primary" id="btnSaveStudent">
                        @*onclick="createAssetCategoryManager.SaveAssetCategory()"*@
                        Save
                    </button>
                    <button type="button" class="btn btn-warning" id="btnClearStudentForm">
                        Clear
                    </button>
                </footer>
            </div>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->


<div id="dialog_simple" title="APT ERP V 1.0.0">
    <p>
    </p>
</div>