<script src="~/Areas/Inventory/Scripts/District/ViewDistrict.js"></script>

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<div class="jarviswidget jarviswidget-District-darken" id="wid-id-0" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Standard Data Tables </h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="myTable" class="table table-bordered table-hover responsive-utilities ">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>District Name</th>
                    <th>District Short Name</th>
                    <th>Is Active</th>
                    <th>Action</th>
                
            </thead>
        </table>

    </div>

</div>


