
<script src="~/Areas/Inventory/Scripts/Supplier/CreateSupplier.js"></script>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">APT ERP</h4>
            </div>
            <div id="modal-body">
                <h2 id="rif"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Create Supplier </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">

            <div class="smart-form">
                <fieldset>
                    <input type="text" id="hdnSupplierId" hidden="" value="0" />


                    <section>
                        <label for="txtSupplierCode" class="label">Supplier Code</label>
                        <label class="input">
                            <input type="text" id="txtSupplierCode" name="txtSupplierCode" maxlength="50" placeholder="Supplier Code" required />
                        </label>
                    </section>

                    <section>
                        <label for="txtSupplierName" class="label">Supplier Name</label>
                        <label class="input">
                            <input type="text" id="txtSupplierName" name="txtSupplierName" maxlength="50" placeholder="Supplier Name" required />
                        </label>
                    </section>


                    <section>
                        <label for="txtSupplierDetails" class="label"> Supplier Details</label>
                        <label class="input">
                            <input type="text" id="txtSupplierDetails" name="txtSupplierDetails" maxlength="350" placeholder="Supplier Details" />
                        </label>
                    </section>

                    <section>
                        <label for="txtSupplierNumber" class="label">Supplier Number</label>
                        <label class="input">
                            <input type="text" id="txtSupplierNumber" name="txtSupplierNumber" maxlength="50" placeholder="Supplier Number" />
                        </label>
                    </section>
                    <section>
                        <label for="txtAddressCode" class="label">Address Code</label>
                        <label class="input">
                            <input type="text" id="txtAddressCode" name="txtAddressCode" maxlength="50" placeholder="Address code" />
                        </label>
                    </section>
                    <section>
                        <label for="txtEx1" class="label">Ex1</label>
                        <label class="input">
                            <input type="text" id="txtEx1" name="txtEx1" maxlength="50" placeholder="Ex1" />
                        </label>
                    </section>
                   







                    @*<section>
                            <label for="chkIsActive" class="label">Is Active</label>
                            <label class="checkbox">
                                <input type="checkbox" id="chkIsActive" name="IsActive" />
                            </label>

                        </section>*@
                    <section>
                        <label class="checkbox">
                            <input type="checkbox" name="chkIsActive" id="chkIsActive">
                            <i></i>IsActive

                        </label>

                    </section>
                </fieldset>



                <footer>
                    <button class="btn btn-primary" id="btnSaveSupplier">
                        @*onclick="createAssetSupplierManager.SaveAssetSupplier()"*@
                        Save
                    </button>
                    <button type="button" class="btn btn-warning" id="btnClearSupplierForm">
                        Clear
                    </button>
                </footer>
            </div>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->


<div id="dialog_simple" title="APT ERP V 1.0.0">
    <p>
    </p>
</div>

