<script src="~/Areas/Inventory/Scripts/OutletPOReturnGrant/AProducDataOfOutletPOReturn.js"></script>


<div id="myModalUpdte" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">APT ERP</h4>
            </div>
            <div id="modal-body">
                <h2 id="rif"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnYes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-warning" id="btnNo" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>

<head>

</head>

<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> A product data Outlet PO </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">

            <div class="smart-form">
                <div data-toggle="validator">
                    <fieldset>
                        <div class="container-fluid">

                            <div class="row-xs-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row-xs-12">

                                        <input type="text" id="hdnOutletPODetailsId" hidden="" />
                                        <input type="text" id="hdnOutletPOMasterId" hidden="" />
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <section>
                                                <h6>Product Name</h6>
                                                <label for="txtProductName" class="label"></label>
                                                <input type="text" id="hdnProductId" hidden=""/>
                                                <input type="text" id="hdnProductName" hidden=""/>
                                                <label class="input">
                                                    <input type="text" id="txtProductName" name="txtProductName" maxlength="50" placeholder="Product Name" readonly="readonly"/>
                                                </label>
                                            </section>

                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                <section>
                                                    <label for="txtProductQuantity" class="label">Product Quantity</label>
                                                    <label class="input">
                                                        <input type="number" id="txtProductQuantity" name="txtProductQuantity" maxlength="50" placeholder="Product Quantity" min="0" step="1"/>
                                                    </label>
                                                </section>
                                                <div class="col-xs-1" style="visibility: hidden">
                                                    <section>
                                                        <label class="input">
                                                            <input type="number" id="txtTempProductQuantity" name="txtTempProductQuantity" maxlength="50" min="0" step="1" readonly="readonly" />
                                                        </label>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                
                                                    <section>
                                                        <label for="txtPriceAmount" class="label">Price Amount</label>
                                                        <label class="input">
                                                            <input type="number" id="txtPriceAmount" name="txtPriceAmount" maxlength="50" placeholder="Price Amount" readonly="readonly"/>
                                                        </label>
                                                    </section>
                                                </div>

                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <button class="btn btn-primary" id="btnUpdateProduct">Update Product</button>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <section>
                                                    <label for="txtRetailPrice" class="label">Retail Price </label>
                                                    <label class="input">
                                                        <input type="text" id="txtRetailPrice" name="txtRetailPrice" maxlength="50" placeholder="Retail Price" readonly="readonly"/>
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <section>
                                                    <label for="txtItemName" class="label">Item </label>
                                                    <label class="input">
                                                        <input type="text" id="txtItemName" name="txtItemName" maxlength="50" placeholder="Item Name" readonly="readonly"/>
                                                    </label>
                                                </section>
                                            </div>
                                            <br>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <section>
                                                    <label for="txtSize" class="label">Size </label>
                                                    <label class="input">
                                                        <input type="text" id="txtSize" name="txtSize" maxlength="50" placeholder="Size" readonly="readonly"/>
                                                    </label>
                                                </section>

                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <section>
                                                    <label for="txtUoM" class="label">UoM </label>
                                                    <label class="input">
                                                        <input type="text" id="txtUoM" name="txtUoM" maxlength="50" placeholder="UoM" readonly="readonly"/>
                                                    </label>
                                                </section>
                                            </div>
                                            <br>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <section>
                                                    <label for="txtBarcode" class="label">Barcode </label>
                                                    <label class="input">
                                                        <input type="text" id="txtBarcode" name="txtBarcode" maxlength="50" placeholder="Barcode" readonly="readonly"/>
                                                    </label>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>


    <!-- end widget content -->
    <!-- end widget div -->

</div>
<!-- end widget -->


<div id="dialog_simple" title="APT ERP V 1.0.0">
    <p>
    </p>
</div>