<script src="~/Areas/Inventory/Scripts/Package/ViewPackage.js"></script>
<div class="jarviswidget jarviswidget-PurchaseProduct-darken" id="wid-id-0" data-widget-editbutton="false">






    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Standard Data Tables </h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="myTable2" class="table table-bordered table-hover responsive-utilities ">
            <thead>
            <tr>
                <th>SL.</th>
                <th>Product Id</th>
                <th>Package Name</th>
                <th>Product Quantity</th>
                <th>View</th>
                <th>Edit</th>
                @*<th>Barcode</th>
                <th>Size</th>
                <th>UoM</th>
                <th>Retail Price</th>
                <th>Sale Price</th>*@
                
            </tr>
            </thead>
        </table>
    </div>
</div>





