<script src="~/Areas/Inventory/Scripts/ProductPurchase/ViewProductPurchase.js"></script>
<div class="jarviswidget jarviswidget-PurchaseProduct-darken" id="wid-id-0" data-widget-editbutton="false">






    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Standard Data Tables </h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="myTable" class="table table-bordered table-hover responsive-utilities ">
            <thead>
            <tr>
                @*<th>PurchaseProductId</th>
                <th>PurchaseProductPriceId</th>*@

                
                <th>SL.</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Factory</th>
                <th>Item</th>
                <th>Qty</th>
                <th>Minimum Stock</th>
                <th>Current Stock</th>
                <th>New Stock</th>
                <th>Cost Price</th>
                <th>Whole Sale Price</th>
                <th>Retail Price</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>

            </thead>
        </table>
    </div>
</div>





