<script src="~/Areas/Inventory/Scripts/OutletWarrentyData/ViewOutletWarrentyData.js"></script>

<div class="jarviswidget jarviswidget-OutletWarrentyData-darken" id="wid-id-0" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Standard Data Tables </h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="myTable" class="table table-bordered table-hover responsive-utilities ">
            <thead>
                <tr>
                    <th>SL.</th>
                    <th>Sale Invoice No.</th>
                    <th>Purchase Date</th>
                    <th>Return Date</th>
                    <th>Product Name</th>
                    <th>Warrenty Type</th>
                    <th>Problem</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>

    </div>

</div>


