<script src="~/Areas/Inventory/Scripts/WarehouseStock/ViewWarehouseStock.js"></script>



<div class="jarviswidget jarviswidget-WarehouseStock-darken" id="wid-id-0" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Warehouse Stock Data Table </h2>

    </header>

    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>

        <table id="myTable" class="table table-bordered table-hover responsive-utilities ">
            <thead>
            <tr>
                <th>SL.</th>
                <th>Product Name</th>
                <th>Stock Qty</th>
                <th>Warehouse Name</th>
                <th>Is Active</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>

    </div>

</div>


